<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <giaohangthuanloishipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Delivery\GiaoHangThuanLoi\Model\Carrier\Shipping</model>
                <name>Giao Hang Thuan Loi Delivery Method</name>
                <price>10.00</price>
                <title>Giao Hang Thuan Loi Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </giaohangthuanloishipping>
        </carriers>
    </default>
</config>
