h1 {
    color: #6f4400;
}

.module-title {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0 auto;
    max-width: 600px;
}

.new {
    margin: 0 auto;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    max-width: 600px;
}
.new img {
    width: 600px;
}

.description-news {
    color: black;
}

.read-more:hover {
    color: #c07600;
}